body {
  background-color: tan;
}

#createCardContainer {
  text-align: center;
  
  hr {
    border: 1px solid black;
  }

}

form > div > button {
  margin-top: 10px;
}

#filterBtnsConatiner {
  button {
    color: black;
    font-weight: bold;
    border: 1px solid black;
  }
  
}

legend {
  font-weight: bold;
  margin-top: 25px;
}

#containerOfCards {
  display: flex;
  flex-direction: row;

  #cardContainer {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black;
    margin: 10px; */
  }

  #expelled {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black;
    margin: 10px; */
  }
}

.card {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin: 10px;
  border-radius: 1px;
  border: 0px;
}

#card-color {
  background-color: blueviolet;
  padding: 8px 50px;
  border-radius: 1px;
}

.card2 {
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
}
