body {
  /* background-color: tan; */
  height: 100vh;
  background-image: url("https://i.pinimg.com/736x/f5/27/63/f5276354114b001eabe2bd971f8a8a99.jpg");
  background-size: cover;
}

#createCardContainer {
  text-align: center;
  margin-top: 50px;
  hr {
    border: 1px solid black;
  }

  h1, p{
    font-family: 'Aclonica', sans-serif;
    color: whitesmoke;
  }
}

form > div > button {
  margin-top: 10px;
}

#filterBtnsConatiner {
  button {
    color: white;
    font-weight: bold;
    border: 0px;
  }

  #all {
    background-color: black;
  }
  #gryffindor {
    background-color: darkred;
  }
  #hufflepuff {
    background-color: goldenrod;
  }
  #ravenclaw {
    background-color: darkblue;
  }
  #slytherin {
    background-color: green;
  }
  
  
}

legend {
  font-weight: bold;
  margin-top: 25px;
  height: 34px;
}

#containerOfCards {
  display: flex;
  flex-direction: row;

  #cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-top: 10px;
    margin-right: 5px;
    width: 50%;
    background-color: #E8E8E8	;
  }

  #expelled {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-top: 10px;
    margin-left: 5px;
    width: 50%;
  }
}

.card {
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 137px;
  margin: 10px;
  border-radius: 1px;
  border: 0px;
}

#card-color {
  background-color: blueviolet;
  padding: 8px 50px;
  border-radius: 1px;
}

.voldemort-card {
  margin: 10px;
  border: 3px solid red;
  border-radius: 3px;
  height: 230px;
}

#expelled-student {
  color: red;
}
